.chats{
   max-width: 700px;
   overflow-y: scroll;
   padding: 8rem;
}
.chats::-webkit-scrollbar{
   display: none;
}
.userDiv{
   display: flex;
   justify-content: flex-end;
   font-size: 0.9rem;
}
.gptDiv{
   text-align: left;
   font-size: 0.9rem;
}
.userMessage{
      background-color: #323232;
      padding: 10px 20px;
      border-radius: 10px;
      margin-left: 15rem;
      max-width: 500px;
      width: fit-content;
}
.hljs{
   border-radius: 10px !important;
}

pre{
   white-space: pre-wrap;
}

@media(max-width: 600px){
   .chats{
   max-width: 240px;;
   overflow-y: scroll;
   padding: 4rem;
  }
  .userDiv{
   font-size: 0.6rem;
   white-space: nowrap;
   }
   .gptDiv{
   font-size: 0.7rem;
  }
  .userMessage{
      padding: 5px 10px;
      border-radius: 5px;
      margin-left: 4rem;
      max-width: 250px;
      width: fit-content;
   }
   .hljs{
   border-radius: 5px !important;
   }
}